In [41]:
#Import libraries
import pandas as pd
import numpy as np
pd.set_option("display.max_rows", 40, "display.max_columns", None)

In [42]:
#Reading data
data = pd.read_csv('../datasets/fifa21_trainning.csv')
data.head()

,Unnamed: 0,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,foot,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Contract,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,1954,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,Right,1,"Jul 1, 2015",NaN,€525K,€4K,€801K,2015 ~ 2020,258,54,47,43,70,44.0,286,61,44.0,55,63,63,346,64,73,61.0,66,82.0,306,62,73.0,71,55,45,290,54,52.0,62.0,68.0,54,54.0,148,49,56,43.0,48,7,12,14,9,6,1682,357,4 ★,2★,High,Medium,1 ★,69,51,63,63,51,60,3,58+1,58+1,58+1,61+0,62+0,62+0,62+0,61+0,63+1,63+1,63+1,63+1,63+1,63+1,63+1,63+1,59+1,59+1,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,2225,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,Right,0,"Jan 16, 2015","Dec 31, 2020",€8.5M,€23K,€0,"Dec 31, 2020 On Loan",365,66,79,76,68,76.0,375,83,78.0,72,63,79,404,83,83,88.0,75,75.0,372,74,81.0,75,74,68,313,54,33.0,78.0,72.0,76,70.0,77,35,20,22.0,55,11,7,14,7,16,1961,412,3 ★,4★,High,Low,2 ★,83,75,68,82,33,71,44,77+0,77+0,77+0,77+0,77+0,77+0,77+0,77+0,76+1,76+1,76+1,76+1,68+2,68+2,68+2,76+1,57+2,53+2,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,1959,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,Right,0,"Jan 31, 2019",NaN,€9M,€49K,€15.3M,2019 ~ 2022,336,73,76,34,78,75.0,424,85,89.0,91,74,85,424,84,76,93.0,78,93.0,308,79,34.0,75,42,78,332,75,26.0,80.0,78.0,73,82.0,80,23,29,28.0,21,6,3,6,3,3,1925,404,4 ★,4★,High,Medium,2 ★,80,77,78,86,27,56,73,73+2,73+2,73+2,80+0,79+0,79+0,79+0,80+0,80+0,80+0,80+0,79+1,74+2,74+2,74+2,79+1,59+2,56+2,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,9815,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,Right,13,"Jul 1, 2016",NaN,€275K,€4K,€694K,2016 ~ 2021,242,44,42,58,62,36.0,259,54,41.0,46,57,61,282,54,59,59.0,55,55.0,277,57,60.0,64,58,38,257,61,57.0,31.0,54.0,54,48.0,168,55,58,55.0,42,8,9,6,7,12,1527,329,2 ★,2★,Medium,Medium,1 ★,57,44,54,57,57,60,7,50+2,50+2,50+2,51+0,51+0,51+0,51+0,51+0,53+2,53+2,53+2,53+2,56+2,56+2,56+2,53+2,56+2,58+2,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,10074,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,Right,8,"Jul 1, 2018",NaN,€725K,€2K,€1.4M,2018 ~ 2021,249,49,37,61,68,34.0,280,64,44.0,45,61,66,324,66,66,61.0,62,69.0,280,61,34.0,81,61,43,294,66,60.0,55.0,64.0,49,58.0,185,58,61,66.0,52,8,9,15,5,15,1664,360,2 ★,3★,Low,Medium,1 ★,66,44,60,64,60,66,4,56+2,56+2,56+2,59+0,59+0,59+0,59+0,59+0,61+2,61+2,61+2,62+2,63+2,63+2,63+2,62+2,64+2,64+2,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65

In [57]:
#Show the shape of rows and columns of the dataframe
def shape(data):
    return data.shape

print(shape(data))

(13700, 102)

In [44]:
#Show all columns
data.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Nationality', 'Club', 'BP',
       'Position', 'Team & Contract', 'Height',
       ...
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK', 'OVA'],
      dtype='object', length=102)

In [45]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13700 entries, 0 to 13699
Columns: 102 entries, Unnamed: 0 to OVA
dtypes: float64(10), int64(44), object(48)
memory usage: 46.6 MB

In [46]:
print(data.columns.tolist())

['Unnamed: 0', 'ID', 'Name', 'Age', 'Nationality', 'Club', 'BP', 'Position', 'Team & Contract', 'Height', 'Weight', 'foot', 'Growth', 'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause', 'Contract', 'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle', 'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats', 'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY', 'Hits', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK', 'OVA']

In [47]:
# Predict overall score
#data['OVA'].value_counts()

In [48]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13700 entries, 0 to 13699
Data columns (total 102 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   ID                int64
 2   Name              object
 3   Age               int64
 4   Nationality       object
 5   Club              object
 6   BP                object
 7   Position          object
 8   Team & Contract   object
 9   Height            object
 10  Weight            object
 11  foot              object
 12  Growth            int64
 13  Joined            object
 14  Loan Date End     object
 15  Value             object
 16  Wage              object
 17  Release Clause    object
 18  Contract          object
 19  Attacking         int64
 20  Crossing          int64
 21  Finishing         int64
 22  Heading Accuracy  int64
 23  Short Passing     int64
 24  Volleys           float64
 25  Skill             int64
 26  Dribbling         int64
 27  Curve             float64
 28  FK Accuracy       int64
 29  Long Passing      int64
 30  Ball Control      int64
 31  Movement          int64
 32  Acceleration      int64
 33  Sprint Speed      int64
 34  Agility           float64
 35  Reactions         int64
 36  Balance           float64
 37  Power             int64
 38  Shot Power        int64
 39  Jumping           float64
 40  Stamina           int64
 41  Strength          int64
 42  Long Shots        int64
 43  Mentality         int64
 44  Aggression        int64
 45  Interceptions     float64
 46  Positioning       float64
 47  Vision            float64
 48  Penalties         int64
 49  Composure         float64
 50  Defending         int64
 51  Marking           int64
 52  Standing Tackle   int64
 53  Sliding Tackle    float64
 54  Goalkeeping       int64
 55  GK Diving         int64
 56  GK Handling       int64
 57  GK Kicking        int64
 58  GK Positioning    int64
 59  GK Reflexes       int64
 60  Total Stats       int64
 61  Base Stats        int64
 62  W/F               object
 63  SM                object
 64  A/W               object
 65  D/W               object
 66  IR                object
 67  PAC               int64
 68  SHO               int64
 69  PAS               int64
 70  DRI               int64
 71  DEF               int64
 72  PHY               int64
 73  Hits              object
 74  LS                object
 75  ST                object
 76  RS                object
 77  LW                object
 78  LF                object
 79  CF                object
 80  RF                object
 81  RW                object
 82  LAM               object
 83  CAM               object
 84  RAM               object
 85  LM                object
 86  LCM               object
 87  CM                object
 88  RCM               object
 89  RM                object
 90  LWB               object
 91  LDM               object
 92  CDM               object
 93  RDM               object
 94  RWB               object
 95  LB                object
 96  LCB               object
 97  CB                object
 98  RCB               object
 99  RB                object
 100 GK                object
 101 OVA               int64
dtypes: float64(10), int64(44), object(48)
memory usage: 10.7+ MB

In [51]:
# Change datatype
#data = data.astype({'Loan Date End': 'datetime64', 'Joined': 'datetime64'})
def change_datatype(data):
    data = data.astype({'Loan Date End': 'datetime64', 'Joined': 'datetime64'})
    return data

In [52]:
data = change_datatype(data)

In [53]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13700 entries, 0 to 13699
Data columns (total 102 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   ID                int64
 2   Name              object
 3   Age               int64
 4   Nationality       object
 5   Club              object
 6   BP                object
 7   Position          object
 8   Team & Contract   object
 9   Height            object
 10  Weight            object
 11  foot              object
 12  Growth            int64
 13  Joined            datetime64[ns]
 14  Loan Date End     datetime64[ns]
 15  Value             object
 16  Wage              object
 17  Release Clause    object
 18  Contract          object
 19  Attacking         int64
 20  Crossing          int64
 21  Finishing         int64
 22  Heading Accuracy  int64
 23  Short Passing     int64
 24  Volleys           float64
 25  Skill             int64
 26  Dribbling         int64
 27  Curve             float64
 28  FK Accuracy       int64
 29  Long Passing      int64
 30  Ball Control      int64
 31  Movement          int64
 32  Acceleration      int64
 33  Sprint Speed      int64
 34  Agility           float64
 35  Reactions         int64
 36  Balance           float64
 37  Power             int64
 38  Shot Power        int64
 39  Jumping           float64
 40  Stamina           int64
 41  Strength          int64
 42  Long Shots        int64
 43  Mentality         int64
 44  Aggression        int64
 45  Interceptions     float64
 46  Positioning       float64
 47  Vision            float64
 48  Penalties         int64
 49  Composure         float64
 50  Defending         int64
 51  Marking           int64
 52  Standing Tackle   int64
 53  Sliding Tackle    float64
 54  Goalkeeping       int64
 55  GK Diving         int64
 56  GK Handling       int64
 57  GK Kicking        int64
 58  GK Positioning    int64
 59  GK Reflexes       int64
 60  Total Stats       int64
 61  Base Stats        int64
 62  W/F               object
 63  SM                object
 64  A/W               object
 65  D/W               object
 66  IR                object
 67  PAC               int64
 68  SHO               int64
 69  PAS               int64
 70  DRI               int64
 71  DEF               int64
 72  PHY               int64
 73  Hits              object
 74  LS                object
 75  ST                object
 76  RS                object
 77  LW                object
 78  LF                object
 79  CF                object
 80  RF                object
 81  RW                object
 82  LAM               object
 83  CAM               object
 84  RAM               object
 85  LM                object
 86  LCM               object
 87  CM                object
 88  RCM               object
 89  RM                object
 90  LWB               object
 91  LDM               object
 92  CDM               object
 93  RDM               object
 94  RWB               object
 95  LB                object
 96  LCB               object
 97  CB                object
 98  RCB               object
 99  RB                object
 100 GK                object
 101 OVA               int64
dtypes: datetime64[ns](2), float64(10), int64(44), object(46)
memory usage: 10.7+ MB

In [12]:
#Test one string value with Inch
ht = '5\'9"'
ht_ = ht.split("'")
ht_

ft_ = float(ht_[0])
in_ = float(ht_[1].replace("\"",""))
(12*ft_) + in_

69.0

In [13]:
# Convert String to float for inches of column Height
def parse_ht(ht):
    # format: 7' 0.0"
    ht_ = ht.split("'")
    ft_ = float(ht_[0])
    in_ = float(ht_[1].replace("\"",""))
    return (12*ft_) + in_

data["Height"].apply(lambda x:parse_ht(x))

0        69.0
1        72.0
2        64.0
3        70.0
4        71.0
         ...
13695    68.0
13696    77.0
13697    67.0
13698    71.0
13699    70.0
Name: Height, Length: 13700, dtype: float64

In [14]:
#Show all NA values
#data.isna().sum().sort
data.isnull().sum().sort_values(ascending = False)

Loan Date End    12961
Position           343
Composure          329
D/W                 67
A/W                 67
                 ...
DEF                  0
PHY                  0
Hits                 0
LS                   0
Unnamed: 0           0
Length: 102, dtype: int64

In [15]:
#Show describe for only datatype object
data.describe(include=[np.object]).T

             count unique       top  freq
Name         13700  13064  J. Rojas     8
Nationality  13700    160   England  1342
Club         13679    897   Everton    38
BP           13700     15        CB  2553
Position     13357    583        CB  1595
...            ...    ...       ...   ...
LCB          13700    321      61+2   360
CB           13700    321      61+2   360
RCB          13700    321      61+2   360
RB           13700    265      62+2   454
GK           13700    158      16+2  2510

[46 rows x 4 columns]

In [16]:
#data = data.select_dtypes(exclude=['object'])
#print(data)

In [17]:
data['Nationality'].value_counts()

England                    1342
Germany                     905
Spain                       889
France                      794
Brazil                      681
                           ...
Malawi                        1
Namibia                       1
Indonesia                     1
São Tomé &amp; Príncipe       1
Qatar                         1
Name: Nationality, Length: 160, dtype: int64

In [18]:
#data["Nationality"].replace({"Trinidad &amp; Tobago": "Trinidad & Tobago", "Antigua &amp; Barbuda": "Antigua & Barbuda", "São Tomé &amp; Príncipe": "São Tomé & Príncipe"}, inplace=True)
def replace_nation_name(data):
    data2 = data.copy()
    data2["Nationality"].replace({"Trinidad &amp; Tobago": "Trinidad & Tobago", "Antigua &amp; Barbuda": "Antigua & Barbuda", "São Tomé &amp; Príncipe": "São Tomé & Príncipe"}, inplace=True)
    return data2

data2 = replace_nation_name(data)
#test['Nationality'].value_counts()

In [19]:
data.groupby(['Nationality']).groups.keys()

dict_keys(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua &amp; Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bolivia', 'Bosnia Herzegovina', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China PR', 'Chinese Taipei', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic', 'DR Congo', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Faroe Islands', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Grenada', 'Guam', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Korea DPR', 'Korea Republic', 'Kosovo', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mexico', 'Moldova', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Netherlands', 'New Caledonia', 'New Zealand', 'Niger', 'Nigeria', 'North Macedonia', 'Northern Ireland', 'Norway', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Ireland', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Sudan', 'Spain', 'Sudan', 'Sweden', 'Switzerland', 'Syria', 'São Tomé &amp; Príncipe', 'Tanzania', 'Thailand', 'Togo', 'Trinidad &amp; Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Wales', 'Zambia', 'Zimbabwe'])

In [20]:
def group_nationality(x):
    if x in ['Albania', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'England', 'Estonia', 'Faroe Islands', 'Finland', 'France', 'Georgia', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland', 'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Montenegro', 'Netherlands', 'North Macedonia', 'Northern Ireland', 'Norway', 'Poland', 'Portugal', 'Republic of Ireland', 'Romania', 'Russia', 'Scotland', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'Wales']:
        return 'Europe'
    elif x in ['Afghanistan', 'Armenia', 'China PR', 'Chinese Taipei', 'Cyprus', 'Georgia', 'Hong Kong', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Korea DPR', 'Korea Republic', 'Lebanon', 'Macau', 'Malaysia', 'Palestine', 'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'Syria', 'Thailand', 'Turkey', 'United Arab Emirates', 'Uzbekistan', 'Vietnam']:
        return 'Asia'
    elif x in ['Algeria', 'Angola', 'Benin', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Comoros', 'Congo', 'DR Congo', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea Bissau', 'Ivory Coast', 'Kenya', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'São Tomé & Príncipe', 'Senegal', 'Sierra Leone', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']:
        return 'Africa'
    elif x in ['Antigua & Barbuda', 'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 'Dominican Republic', 'El Salvador', 'Grenada', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Panama', 'Puerto Rico', 'Saint Kitts and Nevis', 'Trinidad & Tobago', 'United States']:
        return 'North America'
    elif x in ['Aruba', 'Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Curacao', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Uruguay', 'Venezuela']:
        return 'South America'
    elif x in ['Australia', 'Guam', 'New Zealand', 'New Caledonia', 'Papua New Guinea']:
        return 'Australia and Oceania'
    else:
        print(x)
        return x

In [21]:
data['Nationality'] = list(map(group_nationality, data['Nationality']))
data['Nationality'].unique()

Trinidad &amp; Tobago
Antigua &amp; Barbuda
Trinidad &amp; Tobago
Trinidad &amp; Tobago
Antigua &amp; Barbuda
Antigua &amp; Barbuda
São Tomé &amp; Príncipe
Antigua &amp; Barbuda
Trinidad &amp; Tobago
Trinidad &amp; Tobago

array(['Europe', 'Asia', 'South America', 'North America', 'Africa',
       'Australia and Oceania', 'Trinidad &amp; Tobago',
       'Antigua &amp; Barbuda', 'São Tomé &amp; Príncipe'], dtype=object)

In [22]:
data['Nationality'].value_counts()

Europe                     8491
South America              2508
Africa                     1108
North America               743
Asia                        681
Australia and Oceania       159
Trinidad &amp; Tobago         5
Antigua &amp; Barbuda         4
São Tomé &amp; Príncipe       1
Name: Nationality, dtype: int64

In [23]:
#Total number of NaN values
data.isnull().any(axis = 1).sum()

12973

In [24]:
#Check which columns has NaN values
for col in list(data.columns):
    if ( data[col].isnull().sum() != 0 ):
        print("Column {}, number of NA: {}".format(col,data[col].isnull().sum()))
#data.columns[data.isnull().any()].tolist()

Column Club, number of NA: 21
Column Position, number of NA: 343
Column Joined, number of NA: 44
Column Loan Date End, number of NA: 12961
Column Volleys, number of NA: 44
Column Curve, number of NA: 44
Column Agility, number of NA: 44
Column Balance, number of NA: 44
Column Jumping, number of NA: 44
Column Interceptions, number of NA: 7
Column Positioning, number of NA: 7
Column Vision, number of NA: 44
Column Composure, number of NA: 329
Column Sliding Tackle, number of NA: 44
Column A/W, number of NA: 67
Column D/W, number of NA: 67

In [25]:
data['Position'].value_counts().sort_index()

ACB               1
CAM             183
CAM CDM           3
CAM CDM CM        4
CAM CDM LM        1
               ...
ST RW CAM RM      1
ST RW CF          2
ST RW LM          2
ST RW LW         37
ST RW RM          3
Name: Position, Length: 583, dtype: int64

In [26]:
data['BP'].value_counts().sort_index()

CAM    1796
CB     2553
CDM     988
CF       68
CM      783
GK     1281
LB      736
LM      657
LW      171
LWB     199
RB      721
RM     1135
RW      269
RWB     196
ST     2147
Name: BP, dtype: int64

In [27]:
# Check the values of the column Club
data_club = data['Club'].value_counts().sort_index()
data_club = pd.DataFrame(data_club).reset_index()
data_club.columns = ['Club','values']
data_club.head()

                    Club  values
0  1. FC Heidenheim 1846      19
1   1. FC Kaiserslautern      24
2             1. FC Köln      20
3        1. FC Magdeburg      18
4         1. FC Nürnberg      22

In [28]:
# Fill NaN values of Column Club with value 'Unknown'
data['Club'].fillna('Unknown', inplace=True)

In [29]:
len(data['Club'].unique())

898

In [30]:
#Transform column Club - not using this, because we drop column Club
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(data['Club'])
new_array = le.transform(data['Club'])
data['Club'] = pd.DataFrame({'Club': new_array})

In [31]:
data_to_num = data[['W/F','SM','IR']]
data_to_num.head()

   W/F  SM   IR
0  4 ★  2★  1 ★
1  3 ★  4★  2 ★
2  4 ★  4★  2 ★
3  2 ★  2★  1 ★
4  2 ★  3★  1 ★

In [32]:
data['W/F'].value_counts().sort_index()

1 ★      94
2 ★    2717
3 ★    8436
4 ★    2217
5 ★     236
Name: W/F, dtype: int64

In [33]:
#data_to_num = data_to_num.apply(lambda x: x.str.rstrip('★')).astype(int)
#data_to_num.head()

In [34]:
#data_to_num.info()

In [35]:
data['A/W'].value_counts().sort_index()

High      4143
Low        682
Medium    8808
Name: A/W, dtype: int64

In [36]:
data['D/W'].value_counts().sort_index()

High      2360
Low       1459
Medium    9814
Name: D/W, dtype: int64

In [37]:
#Changing categorical values in numerical values
#aw_dict = {'Low':0,'Medium':1,'High':2}
#data['A/W'] = data['A/W'].map(aw_dict)

#dw_dict = {'Low':0,'Medium':1,'High':2}
#data['D/W'] = data['D/W'].map(dw_dict)

In [38]:
#Define ordinal columns, the one that are changed to numerical
#data_ord = data[['A/W','D/W']]
#data_ord.head()

In [39]:
# Convert categorical columns to numerical
def convert_to_num(data):
    data2 = data.copy()
    cols_to_clean = ['W/F','SM','IR','A/W','D/W']    
    for col in cols_to_clean:
        if (col in ['W/F','SM','IR']):        
            #Remove rating star and change dtype to int
            data2[col] = data2[col].apply(lambda x: x.replace('★','')).astype(int)
        else:
            #Changing categorical values in numerical values
            ord_dict = {'Low':0,'Medium':1,'High':2}
            data2[col] = data2[col].map(ord_dict)
    return data2

data3 = convert_to_num(data)
data3[['W/F','SM','IR','A/W','D/W']].head()

   W/F  SM  IR  A/W  D/W
0    4   2   1  2.0  1.0
1    3   4   2  2.0  0.0
2    4   4   2  2.0  1.0
3    2   2   1  1.0  1.0
4    2   3   1  0.0  1.0

In [56]:
# Drop column loan Date End - too many NaN values and not necessary for predictions
# Drop column Club and Position also
def drop_columns(data):
    data2 = data.copy()
    data2 = data2.drop(['Loan Date End', 'Name', 'Club', 'Position', 'Joined', 'Team & Contract', 'foot'], axis=1)
    return data2

data4 = drop_columns(data)
data4.head()

,Unnamed: 0,ID,Age,Nationality,BP,Height,Weight,Growth,Value,Wage,Release Clause,Contract,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,1954,184383,26,Switzerland,CM,"5'9""",161lbs,1,€525K,€4K,€801K,2015 ~ 2020,258,54,47,43,70,44.0,286,61,44.0,55,63,63,346,64,73,61.0,66,82.0,306,62,73.0,71,55,45,290,54,52.0,62.0,68.0,54,54.0,148,49,56,43.0,48,7,12,14,9,6,1682,357,4 ★,2★,High,Medium,1 ★,69,51,63,63,51,60,3,58+1,58+1,58+1,61+0,62+0,62+0,62+0,61+0,63+1,63+1,63+1,63+1,63+1,63+1,63+1,63+1,59+1,59+1,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,2225,188044,30,China PR,ST,"6'0""",159lbs,0,€8.5M,€23K,€0,"Dec 31, 2020 On Loan",365,66,79,76,68,76.0,375,83,78.0,72,63,79,404,83,83,88.0,75,75.0,372,74,81.0,75,74,68,313,54,33.0,78.0,72.0,76,70.0,77,35,20,22.0,55,11,7,14,7,16,1961,412,3 ★,4★,High,Low,2 ★,83,75,68,82,33,71,44,77+0,77+0,77+0,77+0,77+0,77+0,77+0,77+0,76+1,76+1,76+1,76+1,68+2,68+2,68+2,76+1,57+2,53+2,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,1959,184431,33,Italy,CAM,"5'4""",134lbs,0,€9M,€49K,€15.3M,2019 ~ 2022,336,73,76,34,78,75.0,424,85,89.0,91,74,85,424,84,76,93.0,78,93.0,308,79,34.0,75,42,78,332,75,26.0,80.0,78.0,73,82.0,80,23,29,28.0,21,6,3,6,3,3,1925,404,4 ★,4★,High,Medium,2 ★,80,77,78,86,27,56,73,73+2,73+2,73+2,80+0,79+0,79+0,79+0,80+0,80+0,80+0,80+0,79+1,74+2,74+2,74+2,79+1,59+2,56+2,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,9815,233796,22,Wales,CDM,"5'10""",152lbs,13,€275K,€4K,€694K,2016 ~ 2021,242,44,42,58,62,36.0,259,54,41.0,46,57,61,282,54,59,59.0,55,55.0,277,57,60.0,64,58,38,257,61,57.0,31.0,54.0,54,48.0,168,55,58,55.0,42,8,9,6,7,12,1527,329,2 ★,2★,Medium,Medium,1 ★,57,44,54,57,57,60,7,50+2,50+2,50+2,51+0,51+0,51+0,51+0,51+0,53+2,53+2,53+2,53+2,56+2,56+2,56+2,53+2,56+2,58+2,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,10074,234799,23,France,CDM,"5'11""",150lbs,8,€725K,€2K,€1.4M,2018 ~ 2021,249,49,37,61,68,34.0,280,64,44.0,45,61,66,324,66,66,61.0,62,69.0,280,61,34.0,81,61,43,294,66,60.0,55.0,64.0,49,58.0,185,58,61,66.0,52,8,9,15,5,15,1664,360,2 ★,3★,Low,Medium,1 ★,66,44,60,64,60,66,4,56+2,56+2,56+2,59+0,59+0,59+0,59+0,59+0,61+2,61+2,61+2,62+2,63+2,63+2,63+2,62+2,64+2,64+2,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65